* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---header---*/
.header {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;

    background-color: white;
    color: black;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    width: 190px;
    margin-left: 30px;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 900;
    line-height: 49.78px;
    text-align: left;
    color: #005FA3;
}

.logo img {
    width: 40px;
    height: 39.88px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

.menu li {
    margin-right: 16px;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.contact-button {
    width: 173px;
    height: 50px;
    background-color: #fff;
    color: #333;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}

/*---section---*/

.services-container {
    background: #EBEBEB;
}

.services {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    height: 1242px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titles {
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services h3 {
    width: 445px;
    height: 23px;
    flex-shrink: 0;
    color: var(--bdbdbd, #BDBDBD);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 138%;
}

.services h1 {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 69.39px;
    text-align: left;
}

.service-items {
    max-height: 1242px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.column {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.service-item {
    background-image: url(./Rectangle.png);
    background-color: lightgray;

    background-position: 50%;
    background-size: cover;
    width: 360px;
    height: 350px;
    opacity: 50;
    overflow: hidden;
    position: relative;
    gap: 30px;
}

.service-item:hover {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.85) 0%, rgba(0, 95, 163, 0.85) 100%), url(./Rectangle.png) lightgray 50% / cover no-repeat;
}

.service-item h4 {
    color: #FFF;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 126%;
    position: absolute;
    top: 10px;
    left: 30px;
    right: 80px;
    color: rgb(233, 225, 225);
}

.service-item button {
    margin-top: auto;
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: Lato;
    position: absolute;
    bottom: 40px;
    left: 30px;
}

/*---Footer---*/
.container {
    max-width: 1110px;
    height: 564px;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    margin-top: 140px;
    margin-bottom: 140px;
    background-color: white;

    display: flex;
    justify-content: space-between;
}

.left-content {
    width: 50%;
    background-color: white;
}

.right-content {
    width: 50%;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;

    display: grid;
    grid-template-columns: repeat(2, 255px);
    gap: 20px;
    justify-content: end
}

.content-box {
    height: 100px;
    background-color: #EBEBEB;
    width: 255px;
    height: 255px;
    padding-left: 30px;
    padding-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-content p {
    margin-top: 30px;
    width: 445px;
    height: 245px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 24.84px;
    text-align: left;

}

.left-content h2 {

    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 33.12px;
    text-align: left;
    color: #BDBDBD;
    ;
}

.left-content h3 {
    margin-top: 20px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 69.39px;
    text-align: left;

}

.left-content_text_blue {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 69.39px;
    text-align: left;
    color: #005FA3;
}

.right-content h6 {
    margin: 0;
    padding-bottom: 0;
    flex-shrink: 0;
    color: #000;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 10%;
    text-transform: uppercase;
}

.right-content p {

    padding: 20px 0 20px 0;
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%;
}

.right-content button {
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #005FA3;
    background: transparent;
    color: #005FA3;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: Lato;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.content-box:hover {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.85) 0%, rgba(0, 95, 163, 0.85) 100%), url(./Rectangle.png) lightgray 50% / cover no-repeat;
}

.content-box:hover h6,
.content-box:hover p,
.content-box:hover button {
    color: white;
    border-color: white;
}